.image {
    width: 640px;
    height: 360px;
    margin: 20px auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image1 {
    background: url('../images/01.jpg') center center no-repeat;
}
.image2 {
    background: url('../images/02.jpg') center center no-repeat;
}
.image3 {
    background: url('../images/03.jpg') center center no-repeat;
}
.image4 {
    background: url('../images/04.jpg') center center no-repeat;
}
.image5 {
    background: url('../images/05.jpg') center center no-repeat;
}
.image6 {
    background: url('../images/06.jpg') center center no-repeat;
}
.image7 {
    background: url('../images/07.jpg') center center no-repeat;
}
.image8 {
    background: url('../images/08.jpg') center center no-repeat;
}
.image9 {
    background: url('../images/09.jpg') center center no-repeat;
}
.image10 {
    background: url('../images/10.jpg') center center no-repeat;
}
.image11 {
    background: url('../images/11.jpg') center center no-repeat;
}
.image12 {
    background: url('../images/12.jpg') center center no-repeat;
}
.image13 {
    background: url('../images/13.jpg') center center no-repeat;
}
.image14 {
    background: url('../images/14.jpg') center center no-repeat;
}
.image15 {
    background: url('../images/15.jpg') center center no-repeat;
}
.image16 {
    background: url('../images/16.jpg') center center no-repeat;
}
.image17 {
    background: url('../images/17.jpg') center center no-repeat;
}
.image18 {
    background: url('../images/18.jpg') center center no-repeat;
}
.image19 {
    background: url('../images/19.jpg') center center no-repeat;
}
.image20 {
    background: url('../images/20.jpg') center center no-repeat;
}
.image21 {
    background: url('../images/21.jpg') center center no-repeat;
}
.image22 {
    background: url('../images/22.jpg') center center no-repeat;
}
.image23 {
    background: url('../images/23.jpg') center center no-repeat;
}
.image24 {
    background: url('../images/24.jpg') center center no-repeat;
}
.image25 {
    background: url('../images/25.jpg') center center no-repeat;
}
.image26 {
    background: url('../images/26.jpg') center center no-repeat;
}
.image27 {
    background: url('../images/27.jpg') center center no-repeat;
}
.image28 {
    background: url('../images/28.jpg') center center no-repeat;
}
.image29 {
    background: url('../images/29.jpg') center center no-repeat;
}
.image30 {
    background: url('../images/30.jpg') center center no-repeat;
}
.image31 {
    background: url('../images/31.jpg') center center no-repeat;
}
.image32 {
    background: url('../images/32.jpg') center center no-repeat;
}
.image33 {
    background: url('../images/33.jpg') center center no-repeat;
}
.image34 {
    background: url('../images/34.jpg') center center no-repeat;
}
.image35 {
    background: url('../images/35.jpg') center center no-repeat;
}
.image36 {
    background: url('../images/36.jpg') center center no-repeat;
}
.image37 {
    background: url('../images/37.jpg') center center no-repeat;
}
.image38 {
    background: url('../images/38.jpg') center center no-repeat;
}
.image39 {
    background: url('../images/39.jpg') center center no-repeat;
}
.image40 {
    background: url('../images/40.jpg') center center no-repeat;
}
.image41 {
    background: url('../images/41.jpg') center center no-repeat;
}
.image42 {
    background: url('../images/42.jpg') center center no-repeat;
}
